<app-input [label]="'Pesquisa'" (input)="list()" [(ngModel)]="filterTerm" [id]="'inputFilter'"></app-input>
<button class="Bt" mat-stroked-button (click)="openModal()"><mat-icon>note_add</mat-icon></button>


<table>
  <th>ID</th>
  <th>Grupo</th> 
  <th>Editar</th>
  <th>Excluir</th>
    <tr *ngFor="let order of orders">
      <td>{{order.id}} </td>
      <td>{{order.description}} </td>
      <td><button  class="BTedit" ><mat-icon>edit</mat-icon></button></td>
      <td> <button class="BTdelet"><mat-icon>delete</mat-icon></button></td>
    </tr>
</table>
